.inputContainer {
    position: absolute;
    bottom: 15px;
    width: 1170px;
    padding: 10px;
    margin: 10px 0;
    left :0;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.charControl{
      bottom: 75px;
    position: absolute;
}


.btmInputContainer {
    position: absolute;
    bottom: 15px;
    padding: 10px;
    margin: 10px 0;
    right: 179px;
}