.inputContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}


.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.charControl{
      bottom: 75px;
    position: absolute;
}


.btmInputContainer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.positionClass{
    position: absolute;
    bottom: 0 !important;
    margin-bottom: 80px;
}

.chatBox:{
    width:20%;
}


.bodybox {
    position: absolute;
    right: 0;
    width: 23%;
    height: 80%;
    border: solid 1px #ddd;
    bottom: 0;
}

.sc-chat-window {
  width: 370px;
  height: calc(100% - 120px);
  max-height: 470px;
  position: fixed;
  right: 25px;
  bottom: 100px;
  box-sizing: border-box;
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.3);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sc-user-input {
  min-height: 55px;
  margin: 0px;
  position: relative;
  bottom: 0;
  display: flex;
  background-color: #f4f7f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background-color .2s ease,box-shadow .2s ease;
}

.sc-user-input--text {
  width: 300px;
  resize: none;
  border: none;
  outline: none;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
  padding: 18px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #565867;
  -webkit-font-smoothing: antialiased;
  max-height: 200px;
  overflow: scroll;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #E5E5E5;
}

.sc-user-input--send-icon-wrapper {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 20px;
  right: 19px;
}

.sc-header {
  background: #4e8cff;
  min-height: 75px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  color: white;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.sc-message-list {
  height: 80%;
  overflow-y: auto;
  background-color: white;
  background-size: 100%;
  padding: 40px 0px;
}

.MessageList{
    position: absolute;
    bottom: 60px;
    width: 100%;
}

.sc-message {
  width: 300px;
  margin: auto;
  padding-bottom: 10px;
}

.sc-message--content {
  width: 100%;
}

.sc-message--content.sent {
  justify-content: flex-end;
}

.sc-message--text {
  padding: 17px 20px;
  border-radius: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  -webkit-font-smoothing: subpixel-antialiased
}

.sent{
    margin-right:  12px;
    margin-top: 8px;
    color: #263238;
    margin-left:  40px;
    text-align: right;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    height: 60px;
    margin: 10px 0;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: row-reverse;
    display: flex;
    flex-direction: row-reverse;
}


.received{
    margin-top: 8px;
    margin-left: 12px;
    color: #263238;
    margin-right: 40px;
    text-align: left;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    height: 60px;
    margin: 10px 0;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: row-reverse;
    display: flex;
    flex-direction: row;
}
.messageLists{
    height: 460px;
    width: 100%;
    overflow: auto;
}

.place{
    position: relative;
}

.suggestion{
    cursor: pointer;
    position: relative; 
    height: 20px; 
    box-sizing: border-box; 
    padding: 1px 8px 1px 6px; 
    background-color: #4e8cff; 
    color: #fff; 
    border-radius: 3px; 
    font-weight: 500; 
    cursor: pointer; 
}

.insideMessage{
  width: 100%;
  position:relative;
  bottom: 5px;
  overflow: auto;
}

.headerText{
    align-self: center;
}

.sc-header--close-button {
  width: 40px;
  align-self: center;
  height: 40px;
  margin-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 155px;
}

.sc-header--close-button img {
  width: 100%;
  height: 100%;
  padding: 13px;
  box-sizing: border-box;
}


body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
width: 300px;
  resize: none;
  border: none;
  outline: none;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
  padding: 18px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #565867;
  -webkit-font-smoothing: antialiased;
  max-height: 200px;
  overflow: scroll;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #E5E5E5;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 56px;
  width: 300px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  overflow: auto;
  height: 100px;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.footer {
  margin: 9px 20px;
  font-size: 12px;
  color: #777;
}
.mobileNumberInput{
  width: 280px;
  top: 14px;
  position: absolute;
  margin-left: 14px

}

.react-datepicker-container{
    height: 588px;
    width: 298px !important;
}

.react-phone-number-input__country, .react-phone-number-input__country:not(.react-phone-number-input__country--native-expanded) .rrui__input{
  height: 41px;
}
.rrui__input-error.react-phone-number-input__error{
    top: -18px !important;
    position: absolute !important;
    margin-left: 37px !important;
}
/*.rrui__input:not(.rrui__input--multiline), .rrui__input-label{
      height: 41px !important;
}*/